.list03 {
  border: solid 2px #00AEEF;
  padding: 0.5em;
  position: relative;
  margin-top: 2em;
  background-color: #F9F9F9;
}

.list03 li {
  line-height: 1.5;
  padding: 0.5em 0 0.5em 1.4em;
  border-bottom: dashed 1px silver;
  list-style-type: none !important;
}

.list03 li:last-of-type {
  border-bottom: none;
}

/* 横幅1200px */
@media (min-width: 1200px) {
  .container {
    max-width: 1200px !important;
  }
}

/*
 * テーブル調整
 */
table {
  margin: 20px auto;
}

td, th {
  vertical-align: middle !important;
}

.tbl-r03 {
  width: 100%;
}

.tbl-r03 th {
  background: #f9f9f9;
  border: solid 1px #ccc;
  padding: 10px;
  width: 25%;
}

.tbl-r03 td {
  border: solid 1px #ccc;
  padding: 10px;
  width: 75%;
}

@media screen and (max-width: 919px) {
  .tbl-r03 {
    width: 100%;
  }

  .tbl-r03 th {
    border-bottom: none;
  }

  .tbl-r03 th,
  .tbl-r03 td {
    display: block;
    width: 100%;
  }
}

/*
 * FAQ
 */
.faq {
  background: #F6F6F6;
  padding: 1em;
  border-radius: 1em;
}

.faq dt {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px dotted;
  font-weight: bold;
}

.faq dt:before {
  content: "Q";
  font-weight: normal;
  background: #cc0000;
  color: #fff;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.6;
  text-align: center;
  display: inline-block;
  border-radius: 1em;
  margin-right: .5em;
}

.faq dd {
  margin-bottom: 2em;
}

.faq dd:last-child {
  margin-bottom: 0;
}

/*
 * サイトマップ用
 */
.flowchart {
  margin-left: .5em;
  border-left: 2px dashed;
}

.flowchart h4 {
  position: relative;
  margin-left: 2em;
  margin-bottom: 0;
}

.flowchart p {
  margin-top: .3em;
  margin-left: 3em;
}

.flowchart h4:before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #000;
  position: absolute;
  left: calc(-2em - 6px);
  top: .5em;
}

.flowchart h4:after {
  content: "";
  border-bottom: 1px solid;
  width: 1.5em;
  background: #000;
  position: absolute;
  top: .7em;
  left: -2em;
}
