.list03 {
  border: solid 2px #00AEEF;
  padding: 0.5em;
  position: relative;
  margin-top: 2em;
  background-color: #F9F9F9;
}

.list03 li {
  line-height: 1.5;
  padding: 0.5em 0 0.5em 1.4em;
  border-bottom: dashed 1px silver;
  list-style-type: none !important;
}

.list03 li:last-of-type {
  border-bottom: none;
}

/* 横幅1200px */
@media (min-width: 1200px) {
  .container {
    max-width: 1200px !important;
  }
}

/*
 * テーブル調整
 */
table {
  margin: 20px auto;
}

.tbl-r03 {
  width: 100%;
}

.tbl-r03 th {
  background: #f9f9f9;
  border: solid 1px #ccc;
  padding: 10px;
  width: 25%;
}

.tbl-r03 td {
  border: solid 1px #ccc;
  padding: 10px;
  width: 75%;
}

@media screen and (max-width: 919px) {
  .tbl-r03 {
    width: 100%;
  }

  .tbl-r03 th {
    border-bottom: none;
  }

  .tbl-r03 th,
  .tbl-r03 td {
    display: block;
    width: 100%;
  }
}
